ul {
  padding: 0;
  margin-top: 1rem;
  /* max-width: 80%;
  margin-left: auto;
  margin-right: auto; */
}
li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  /* background-color: #0f2027;
  opacity: 80%; */
}
.siteinfo,
.listinfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2f0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@font-face {
  font-family: "magic_school_tworegular";
  src: url("magicschooltwo-4n5d-webfont.woff2") format("woff2"), url("magicschooltwo-4n5d-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "magic_school_tworegular";
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
  color: #b9a407;
  opacity: 75%;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
}
.siteinfo p,
.houseinfo p {
  margin-top: 0;
  font-family: "magic_school_tworegular";
  font-size: 3rem;
  font-weight: normal;
  color: #b9a407;
  opacity: 75%;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
}
/* .filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8rem;
} */
button {
  font-family: "magic_school_oneregular";
  font-size: 2rem;
  /* padding: 3px; */
  border-radius: 16px;
  background-color: #d39e2f;
}
.listinfo {
  /* color: #d39e2f; */
  margin-top: 3rem;
  font-weight: bold;
}
/* #list tbody td:nth-child(odd) td {
  background-color: lightblue;
  border-right: rgb(240, 249, 255) 1px dotted;
}
#list tbody td:nth-child(even) td {
  border-right: rgb(171, 219, 252) 1px dotted;
} */

#list tbody tr td {
  padding: 2rem;
}
/* #list tbody tr:nth-child(2n + 1) td {
  background-color: lightblue;
  border-right: 1px dotted rgb(240, 249, 255);
}
#list tbody tr:nth-child(2n) td {
  border-right: 1px dotted rgb(171, 219, 252);
} */
td[data-field="squad"]::after {
  content: "🎖";
}
td[data-field="squad"][data-squad="false"]::after {
  filter: grayscale(1);
}
#list td {
  /* font-family: gimlet-display, serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "magic_school_tworegular";
  font-size: 2rem;
  font-weight: normal;
  color: #b9a407;
  opacity: 75%;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
}
td img {
  width: 5rem;
}

/* Dialog */
.hide {
  visibility: hidden;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 10px;
  padding: 1.3rem;
  background-color: #ffffff;
}
button.closebutton {
  position: absolute;
  right: 15em;
  top: 0.5em;
}
/* student dialog */
.student_dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 10px;
  padding: 1.3rem;
  background-color: #ffffff;
}
p.squad ::after {
  content: "🎖";
}
p.squad [student-squad="false"]::after {
  filter: grayscale(1);
}
.crest {
  width: 200px;
}
.prefect {
  width: 5rem;
}
