ul {
  padding: 0;
  margin-top: 1rem;
  /* max-width: 80%;
  margin-left: auto;
  margin-right: auto; */
}
li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  /* background-color: #0f2027;
  opacity: 80%; */
}
/* .siteinfo,
.listinfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.houseinfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */
.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .houseinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2f0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@font-face {
  font-family: "magic_school_tworegular";
  src: url("magicschooltwo-4n5d-webfont.woff2") format("woff2"), url("magicschooltwo-4n5d-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "magic_school_tworegular";
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
  color: #b9a407;
  opacity: 75%;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
}
.siteinfo p,
.houseinfo p {
  margin-top: 0;
  font-family: "magic_school_tworegular";
  font-size: 2rem;
  font-weight: normal;
  /* color: #b9a407; */
  color: #9e9d9b;
  /* opacity: 75%; */
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
}
/* .filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8rem;
} */
button {
  font-family: "magic_school_tworegular";
  font-size: 2rem;
  border-radius: 9px;
  background-color: #b9a407;
  opacity: 75%;
  border: 0px;
  width: 10rem;
  box-shadow: 2px 3px 16px rgb(0 0 0 / 40%);
}
.filterbuttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 4rem;
}
#list tbody tr td {
  padding: 2rem;
}

#list td {
  font-family: "magic_school_tworegular";
  font-size: 2rem;
  font-weight: normal;
  color: #b9a407;
  opacity: 75%;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
  text-align: center;
}
td img {
  width: 8rem;
}
tr#sorting {
  font-family: "magic_school_tworegular";
  font-size: 3rem;
  /* font-weight: normal; */
  color: #9e9d9b;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
  /* text-align: left; */
}
th {
  font-weight: normal;
}
/* searchfield */
input#search {
  height: 3rem;
  width: 14rem;
  border-radius: 7px;
  border: 2px solid #9e9d9b;
  background-color: transparent;
  font-family: "magic_school_tworegular";
  font-size: 2rem;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
  color: #9e9d9b;
  box-shadow: 2px 4px 3px rgb(0 0 0 / 40%);
}
::placeholder {
  color: #9e9d9b;
}

/* Dialog */
.hide {
  visibility: hidden;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 10px;
  padding: 1.3rem;
  background-color: #ffffff;
}
button.closebutton {
  position: absolute;
  /* right: 15em;
  top: 0.5em; */
  opacity: 100%;
  width: 3rem;
}
.removea,
.removeb {
  width: auto;
  /* margin: 3rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  box-shadow: 2px 3px 16px rgb(0 0 0 / 20%);
}
.prefectbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/* student dialog */
.student_dialog,
.expell_dialog,
.dialog,
.squad_dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 10px;
  padding: 1.3rem;
  background-color: #ffffff;
  width: 50vw;
}
.expell_dialog h1,
.dialog h1,
.squad_dialog h1 {
  opacity: 100%;
  margin: 0;
  margin-left: 2rem;
  text-align: center;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 20%);
}
.expell_dialog p,
.dialog p,
.squad_dialog p {
  font-family: "magic_school_tworegular";
  font-size: 2rem;
  /* text-shadow: 2px 4px 3px rgb(0 0 0 / 40%); */
  color: #9e9d9b;
  font-weight: normal;
  margin-left: 2rem;
  margin-top: 0;
  text-align: center;
}
.column_right p {
  margin: 0;
  margin-left: 2rem;
}
.crest {
  width: 200px;
}
.prefect,
.squad {
  width: 10rem;
}
.column_left {
  display: flex;
  flex-direction: column;
}
/* Student dialog - Rules for each house */
/* Gryffindor */
.gryffindor_dialog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #cca226;
  color: #6c0000;
  font-family: "magic_school_tworegular";
  font-size: 3rem;
  font-weight: normal;
  width: 70vw;
  height: 80vh;
}
.gryffindor_dialog h1 {
  opacity: 100%;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: #6c0000;
  margin: 0em;
  margin-left: 2rem;
  text-align: left;
}
/* Slytherin */
.slytherin_dialog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #5d5d5d;
  color: #2a492d;
  font-family: "magic_school_tworegular";
  font-size: 3rem;
  font-weight: normal;
  width: 70vw;
  height: 80vh;
}
.slytherin_dialog h1 {
  opacity: 100%;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: #2a492d;
  margin: 0em;
  margin-left: 2rem;
  text-align: left;
}
/* Hufflepuff */
.hufflepuff_dialog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #000000;
  color: #f3d432;
  font-family: "magic_school_tworegular";
  font-size: 3rem;
  font-weight: normal;
  width: 70vw;
  height: 80vh;
}
.hufflepuff_dialog h1 {
  opacity: 100%;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: #f3d432;
  margin: 0em;
  margin-left: 2rem;
  text-align: left;
}
/* Ravenclaw */
.ravenclaw_dialog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #172044;
  color: #8d6928;
  font-family: "magic_school_tworegular";
  font-size: 3rem;
  font-weight: normal;
  width: 70vw;
  height: 80vh;
}
.ravenclaw_dialog h1 {
  opacity: 100%;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: #8d6928;
  margin: 0em;
  margin-left: 2rem;
  text-align: left;
}

.secret_button {
  font-size: 2rem;
}
